@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-ai {
    background: url("../js/assets/images/ai.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-ai2 {
    background: url("../js/assets/images/ai_side.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.blur-ai {
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.form-container {
    position: relative;
    z-index: 2;
}

.before-dot::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #0b2041;
    border-radius: 100%;
    right: 0;
}

.slick-slide > div {
    margin: 0 10px;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: none;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow);
    border-color: #1c64f2;
}

.max-auto {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.min-h-100 {
    min-height: 90.5vh;
}

.css-13cymwt-control {
    background: #f4f8fc !important;
}

.backend-header {
    left: "calc(16rem + 1rem)";
    right: "1rem";
    width: "auto";
}
